{% extends "bootstrap/base.html" %}

{% block title %}Maxiee 博客{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap-treeview.min.css')}}">
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
<div class="page container">
  <h1>Flaskr</h1>
  {% block mybody %}{% endblock %}
</div>
<div class="container">
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
<p><a href="javascript:OpenLatexEditor('testbox','html','')">
Launch CodeCogs Equation Editor
</a></p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + "/_add_numbers", {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
<script type="text/javascript" src="http://latex.codecogs.com/editor3.js"></script>
<script src="{{url_for('.static', filename='bootstrap-treeview.min.js')}}"></script>
<script type="text/javascript">
var tree = [
  {
    text: "Parent 1",
    nodes: [
      {
        text: "Child 1",
        nodes: [
          {
            text: "Grandchild 1"
          },
          {
            text: "Grandchild 2"
          }
        ]
      },
      {
        text: "Child 2"
      }
    ]
  },
  {
    text: "Parent 2"
  },
  {
    text: "Parent 3"
  },
  {
    text: "Parent 4"
  },
  {
    text: "Parent 5"
  }
];
$('#tree').treeview({data: tree});
</script>

{% endblock %}

